


<nb-card>
    <nb-card-header>
        My Appointments
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let appointment of appointments" class="container-fluid">
                <div class="row container-fluid">
                    <h6><b>Date/Time:</b> {{appointment.time | date: 'medium'}}</h6>
                </div>               
                <button
                 nbButton
                 status="success"
                 type="button"
                 class="btn-success"
                 (click)="viewAppointment(appointment)"
                >Details
                </button>
              </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
