
<div class="row">
  <div class="col-lg-8 offset-md-2">
    <nb-card>
      <nb-card-header>
        <nav class="navigation">
          <h5><b>Patient Profile</b></h5>
        </nav>
      </nb-card-header>
  
      <nb-card-body>

<form
[formGroup]="profileForm"
(submit)="save()"
aria-labelledby="profileForm"
autocomplete="off" 
>
<div class="form-group-group row">
  <div class="col-sm-12">
    <label for="firstName">First Name:</label>
    <input 
    type="text" 
    nbInput
    fullWidth
    id="firstName"
    formControlName="firstName"
    placeholder="First Name"
    >
  </div>
</div>

<div class="form-group-group row">
  <div class="col-sm-12">
    <label for="middleName">Middle Name:</label>
    <input
    type="text"
    nbInput
    fullWidth
    id="middleName"
    placeholder="Middle Name (Optional) "
    formControlName="middleName"
    [status]="middleName?.dirty ? (middleName?.invalid  ? 'danger' : 'success') : ''"
    [attr.aria-invalid]="middleName?.invalid && middleName?.touched ? true : null"
    />
  </div>
</div>

<div class="form-group-group row">
  <div class="col-sm-12">
    <label for="surName">Last Name:</label>
    <input
    type="text"
    nbInput
    fullWidth
    id="surName"
    placeholder="Last Name"
    formControlName="surName"
  >
  </div>
</div>


 <div class="form-group-group row"> 
  <div class="col-sm-6"> 
    <label for="date_of_birth">Date of Birth:</label>  
    <input
      type="date"
      nbInput
      id="date_of_birth"
      fullWidth
      placeholder="Date of Birth"
      formControlName="date_of_birth"
  >
 </div>

  <div class="col-sm-6">
    <label for="gender">Gender:</label>
    <nb-select
      id="gender"
      fullWidth
      placeholder="Select gender"
      formControlName="gender"
      >
    <nb-option value="Male">male</nb-option>
    <nb-option value="Female">female</nb-option>
  </nb-select>
    </div>
  </div>

<!-- <div class="form-group-group row">
  <div class="col-sm-6">
      <input
      type="text"
      nbInput
      fullWidth
      id="country"
      placeholder="country"
      formControlName="country"
      >
  </div>

  <div class="col-sm-6">
    <input
      type="text"
      nbInput
      fullWidth
      id="city"
      placeholder="city/region"
      formControlName="city"
     >
  </div>
</div> -->

<div class="form-group-group row">
  <div class="col-sm-6">
    <label for="Address">Address:</label>
    <input
      type="text"
      nbInput
      fullWidth
      id="Address"
      placeholder="Address"
      formControlName="Address"
      [status]="Address?.dirty ? (Address?.invalid  ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="Address?.invalid && Address?.touched ? true : null"
    />
  </div>
  <div class="col-sm-6">
      <label for="phone">Mobile Number:</label>
      <input
      type="tel"
      nbInput
      fullWidth
      id="phone"
      placeholder="Phone Number"
      formControlName="phone"
      [status]="phone?.dirty ? (phone?.invalid  ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="phone?.invalid && phone?.touched ? true : null"
      >
      <app-validation-message label="Phone number" [showMinLength]="phone?.hasError('minlength') && phone?.touched"
      [showMaxLength]="phone?.hasError('maxlength') && phone?.touched"
      [minLength]="8"
      [maxLength]="13"></app-validation-message>
  </div>
</div>

<div class="form-group-group row">
    <div class="col-sm-6">
      <label for="bloodGroup">Blood Group:</label>
        <nb-select
          id="bloodGroup"
          fullWidth
          placeholder="Blood Group"
          formControlName="bloodGroup"
          >
        <nb-option value="A+">A+</nb-option>
        <nb-option value="A-">A-</nb-option>
        <nb-option value="B+">B+</nb-option>
        <nb-option value="B-">B-</nb-option>
        <nb-option value="AB">AB</nb-option>
        <nb-option value="O+">O+</nb-option>
        <nb-option value="O-">O-</nb-option>
      </nb-select>
        </div>
</div>


<div class="form-group-group row">
  <div class="col-sm-12">
    <label for="medicalConditions">Medical Conditions:</label>
  <input
    type="text"
    nbInput
    fullWidth
    id="medicalConditions"
    placeholder="Any medical conditions?... eg diabetes, cancer"
    formControlName="medicalConditions"
    [status]="medicalConditions?.dirty ? (medicalConditions?.invalid  ? 'danger' : 'success') : ''"
    [attr.aria-invalid]="medicalConditions?.invalid && medicalConditions?.touched ? true : null"
  >
  </div>
</div>

<div class="btn2">
    <button
    type="submit"
     nbButton 
     status="success"
     [disabled] = "submitted || profileForm.invalid"
     [class.btn-pulse]="submitted"
    >submit</button>
 </div>
 </form>
 </nb-card-body>
 </nb-card>
 </div>
 </div>
