@import "../../../theme/themes.scss";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

.form-group-group {
  margin-bottom: 5%;
  width: auto;
}

.form-group2 {
  margin-left: auto;
}

.btn2 {
  margin-left: auto;
}

.scrollable {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

@include nb-install-component() {
  button[nbButton] {
    margin: 0.25rem;
  }

  :host {
    button {
      @include nb-ltr(margin, 0 0.75rem 0 0);
      @include nb-rtl(margin, 0 0 0 0.75rem);
    }

    nb-card {
      margin: 0;
    }

    .navigation .link {
      text-decoration: none;

      .icon {
        font-size: 2rem;
      }
    }
  }
}