
<nb-card>
    <nb-card-header>
        <input
         nbInput
         fullWidth
         class="center"
         type="search"
         #searchBox 
         id="search-box" 
         (input)="search(searchBox.value)"
         placeholder="Search by specialization.... eg.cardiologist"
        />
    </nb-card-header>
    <nb-card-body>
        
         <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 container-fluid">
            <div *ngFor="let doctor of doctors | async" class="container-fluid row justify-content-center">
              <div class="row appointment">
                <h6><strong>Name:</strong> {{doctor.first_name}} {{doctor.middle_name}} {{doctor.last_name}}</h6>
              </div>
              <div class="row appointment">
                <h6><strong>Specialization:</strong> {{doctor.specialization}}</h6>
              </div>
              <form
              (submit)="createAppointment(doctor)" 
              aria-labelledby="title"
              autocomplete="off"
              class="justify-content-center"
              >
              
               <button
                nbButton
                status = "success"
                class="btn btn-primary btn-sm"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                type="submit"
               >Create Appointment</button>
              
            </form>
            </div>
         </div>
          
    </nb-card-body>
</nb-card>

