<div class="header-container">
    <div class="logo-container">
      <a  href="#" class="sidebar-toggle">
        <img style="width:25px;height:25px;" src="../../../../favicon.ico" alt="tek-Church">
      </a>
      <div class="logo" >
        <h5 style="margin:6px">Doctor Appointment App</h5 >
      </div>
    </div>
  </div>
  
  <div class="header-container">
    <nb-actions size="small">
  
      <!-- <nb-action class="control-item">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action> -->
      <nb-action class="control-item" icon="email-outline"></nb-action>
      <nb-action class="control-item" icon="bell-outline"></nb-action>
    </nb-actions>
  </div>
