

<div class="row">
    <div class="col-lg-8 offset-md-2">
      <nb-card>
        <nb-card-header>
            <nav class="navigation">
              <!-- <a (click)="back()" class="link" aria-label="Back">
                <i class="icon  nb-arrow-thin-left"></i>
              </a> -->
             <h1 class="text-align-center"> Appointment Details</h1>
          </nav>
        </nb-card-header>
    
        <nb-card-body>
  <form
  [formGroup]="appointmentForm"
  (submit)="save()" 
  aria-labelledby="title"
  autocomplete="off"
  >
  <div class="row form-group-group justify-content-center">
    <div class="col-sm-12">
      <label for="name">Name:</label>
      <input
       nbInput
       fullWidth 
       type="text" 
       id="name"
       formControlName="name"
       placeholder="Name of Doctor"
      />
    </div>
  </div>
  <div class="form-group-group row">
    <div class="col-sm-6">
        <label for="gender">Gender:</label>
        <input
          type="text"
          nbInput
          id="gender"
          fullWidth
          placeholder="Gender"
          formControlName="gender"
        />
    </div>
    <div class="col-sm-6">
        <label for="age">Age:</label>
        <input
         nbInput
         fullWidth 
         type="text" 
         id="age"
         formControlName="age"
         placeholder="Age"
        />
      </div>
</div>
  <div class="row form-group-group">
    <div class="col-sm-12">
    <label for="registrationNumber">Doctor's Registration Number:</label>
    <input
     nbInput 
     fullWidth
     type="text" 
     id="registrationNumber"
     formControlName="registrationNumber"
     placeholder="Registration Number"
    />
    </div>
  </div>
<div class="row form-group-group">
    <div class="col-sm-12">
      <label for="qualification">Qualification:</label>
      <input
       nbInput
       fullWidth 
       type="text" 
       id="qualification"
       formControlName="qualification"
       placeholder="Qualification"
      />
    </div>
  </div>

<div class="form-group-group row">
 <div class="col-sm-12">
  <label for="specialization">Specialization:</label>
  <input
    type="text"
    nbInput
    fullWidth
    id="specialization"
    placeholder="Specialization"
    formControlName="specialization"
   >
   </div>
</div>

<div class="row form-group-group justify-content-center">
    <div class="col-sm-12">
      <label for="time">Appointment Time:</label>
      <input
       nbInput 
       fullWidth 
       type="text" 
       id="time"
       formControlName="time"
       placeholder="Appointment date"
       />
    </div>
</div>
<div class="form-group-group row">
  <div class="col-sm-12">
  <label for="symptoms">Patient Symptoms:</label>
  <textarea
    nbInput
    fullWidth
    rows="5"
    id="symptoms"
    placeholder="Patient Symptoms"
    formControlName="symptoms"
   ></textarea>
  </div>
</div>
<div class="form-group-group row">
    <div class="col-sm-12">
    <label for="remarks">Doctor Remarks:</label>
    <textarea
      nbInput
      fullWidth
      rows="5"
      id="remarks"
      placeholder="Doctor remarks"
      formControlName="remarks"
     ></textarea>
    </div>
</div>
<!-- <button
    nbButton
    class="btn btn-primary btn-sm"
    status="primary"
    style="padding-left: 2.5rem; padding-right: 2.5rem;"
    type="submit"
    [disabled] = "submitted || appointmentForm.invalid"
>Submit</button> -->
</form>
</nb-card-body>
</nb-card>
</div>
</div>


